
{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/01b/0ee/08196c7.jpg"><br>
      <b>Joe Beutler</b><br>
      10.1M followers
    </div>
    <div class="col-md-9">
      <h3>All Tweets</h3>
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div class="tweetbox">
        	<img></img>
        	<div class="content by"><h5>{{tweet.name}}</h5></div>
        	<div class="content">{{tweet.text}}</div>
        </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}