
{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/01b/0ee/08196c7.jpg"><br>
      <b>Joe Beutler</b><br>
      10.1M followers
    </div>
    <div class="col-md-9">
      {% if showForm %}
        <form action="/submit" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field"/>

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

      {% if showName %}
        <form action="/submit" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" value="{{name}}"/>

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

      <h3>All Tweets</h3>
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div class="tweetbox container-fluid col-lg-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
        	 <img></img>
          </div>
          <div class="col-lg-11 col-md-11 col-sm-11">
        	 <div class="content by"><h5><a href="/users/{{tweet.name}}">{{tweet.name}}</a></h5></div>
        	 <div class="content">{{tweet.text}}</div>
           <a href="">Re-tweet</a>
          </div>
        </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}